@font-face {
  font-family: 'Exo-2';
  src: url(../fonts/Exo2-Regular.ttf);
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Exo-2';
  src: url(../fonts/Exo2-Bold.ttf);
  font-weight: bold;
  font-display: swap;
}

:root {
  --color1: rgb(7, 99, 255);
  --color2: rgb(3, 151, 252);
  --color3: 	rgb(7, 225, 255);
  --color4: 	rgb(15, 255, 248);
  --color5: 	rgb(177, 255, 247);
  --bg-color-main: rgba(238, 232, 232, 0.5);
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background: rgb(7,3,151);
  background: linear-gradient(187deg, rgba(7,3,151,1) 0%, rgba(7,225,255,1) 88%);
  font-family: 'Exo-2', 'Geneva', sans-serif;
  font-size: 16px;
}